.mainReportsPage .headerTitle {
    margin-top: 25px; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(1) {
    padding-left: 65px; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(1) button {
    width: 170px;
    height: 34px;
    position: relative;
    padding: 0;
    background-color: #6A83DB;
    border: none;
    color: white;
    font-size: 14px; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(1) button span {
    position: absolute;
    width: 19px;
    z-index: 999;
    left: 20px; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(1) button span img {
    width: 100%; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(2) button {
    width: 170px;
    height: 34px;
    position: relative;
    padding: 0;
    background-color: transparent;
    border: 1px solid  #666363;
    color: #666363;
    font-size: 14px; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(2) button span {
    position: absolute;
    width: 19px;
    z-index: 999;
    left: 20px; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(2) button span img {
    width: 100%; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(3) {
    display: flex;
    align-items: center; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-2:nth-child(3) h6 {
    font-size: 20px;
    color: #666363;
    margin: 0 auto; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-3:nth-child(5) .mainCurrency {
    margin-left: 23%; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-3:nth-child(5) .mainCurrency button {
    border-radius: 5px;
    background-color: transparent;
    color: #9B9696;
    border: 1px solid transparent;
    width: 60px;
    height: 26px; }
.mainReportsPage .headerTitle .container-fluid .row .col-md-3:nth-child(5) .mainCurrency .mainCurrency button:active {
    border: 1px solid #7D93E0;
    color: #7D93E0;
    background-color: transparent;
    border-radius: 5px;
    width: 60px;
    height: 26px; }
.mainReportsPage .mainReportsCards {
    margin-top: 26px; }
.mainReportsPage .mainReportsCards .container-fluid .row {
    padding-left: 50px;
    margin-top: 5px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(1) .reportsCard {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 270px;
    height: 100px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(1) .reportsCard p {
    padding: 14px;
    margin: 0;
    color: #666363;
    font-size: 16px;
    font-weight: 600; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(1) .reportsCard .row {
    padding-left: 28px;
    align-items: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(1) .reportsCard .row span {
    background-color: #F2F6F9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(1) .reportsCard .row span img {
    width: 20px;
    height: 18px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(1) .reportsCard .row h5 {
    padding-left: 7px;
    padding-right: 115px;
    color: #6A83DB;
    margin: 0;
    font-weight: 600; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(1) .reportsCard .row img {
    width: 20px;
    height: 20px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 95%;
    height: 100px;
    text-align: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard p {
    padding: 14px;
    margin: 0;
    color: #666363;
    font-size: 16px;
    font-weight: 600; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard .row {
    padding-left: 0px;
    align-items: center;
    justify-content: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard .row div {
    display: flex;
    align-items: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard .row div span {
    background-color: #F2F6F9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard .row div span img {
    width: 20px;
    height: 18px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard .row h5 {
    padding-left: 7px;
    color: #36C654;
    margin: 0;
    font-weight: 600; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-6:nth-child(2) .reportsCard .row .forward {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 60px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(3) .reportsCard {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 270px;
    height: 100px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(3) .reportsCard p {
    padding: 14px;
    margin: 0;
    color: #666363;
    font-size: 16px;
    font-weight: 600; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(3) .reportsCard .row {
    padding-left: 28px;
    align-items: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(3) .reportsCard .row span {
    background-color: #F2F6F9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(3) .reportsCard .row span img {
    width: 20px;
    height: 18px; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(3) .reportsCard .row h5 {
    padding-left: 7px;
    padding-right: 115px;
    color: #FF6060;
    margin: 0;
    font-weight: 600; }
.mainReportsPage .mainReportsCards .container-fluid .row .col-md-3:nth-child(3) .reportsCard .row img {
    width: 20px;
    height: 20px; }
.mainReportsPage .mainReportsCardSecondPair {
    margin-top: 31px;
    padding-left: 50px; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-7 img {
    width: 100%;
    height: 341px; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable {
    padding-right: 26px; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable table {
    box-shadow: 0px 0px 25px 2px #cac8c8;
    border-radius: 10px;
    background-color: #F2F6F9; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable table .tableTitle {
    padding: 17px 24px;
    color: #666363; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable table tr:nth-child(2n) {
    background-color: #fff; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable table tr:nth-last-child(1) td:nth-child(1) {
    border-bottom-left-radius: 10px; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable table tr:nth-last-child(1) td:nth-child(2) {
    border-bottom-right-radius: 10px; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable table tr .mainTableTitle {
    padding-left: 26px; }
.mainReportsPage .mainReportsCardSecondPair .container-fluid .row .col-md-5 .reportsTable table tr .mainTableAmount {
    font-size: 18px;
    color: #36C654;
    font-weight: 600; }
